.profile__avatar {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  cursor: pointer;
  position: relative;
}

.profile__avatar::before {
  content: '';
  background: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity .5s linear;
}

.profile__avatar:hover::before {
  opacity: 1;
}

.profile__avatar::after {
  content: '';
  background: url('../../../images/edit-avatar.svg');
  width: 26px;
  height: 26px;
  position: absolute;
  top: 47px;
  left: 47px;
  opacity: 0;
  transition: opacity .5s linear;
}

.profile__avatar:hover::after {
  opacity: 1;
}