.profile {
  width: 100%;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 710px) {
  .profile {
    min-height: 286px;
    flex-direction: column;
  }
}