.popup__input-text {
  max-width: 358px;
  min-height: 30px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  visibility: hidden;
}

@media screen and (max-width: 568px) {
  .popup__input-text {
    max-width: 238px;
  }
}