.profile__info {
  max-width: 336px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 294px 42px;
  grid-template-rows: 48px 27px;
  align-items: center;
}

@media screen and (max-width: 710px) {
  .profile__info {
    margin: 26px 0 0;
    max-width: 217px;
    grid-template-columns: 189px 28px;
    grid-template-rows: 33px 21px;
  }
}